body {
    background-color: skyblue;
    color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#canvas {
    z-index: -2;
    border-radius: 8px;
    position: relative;
    border: 1px solid navy;
    min-width: 300px;
    min-height: 300px;
    max-width: 800px;
    max-height: 800px;
    width: 60vw;
    height:  60vh;
}

#apple {
    display: none;
    width: 10px;
    height: 10px;
}

#orange {
    display: none;
    width: 10px;
    height: 10px;
}

#watermelon {
    display: none;
    width: 10px;
    height: 10px;
}

#pineapple {
    display: none;
    width: 10px;
    height: 10px;
}

#bomb {
    display: none;
    width: 10px;
    height: 10px;
}

#basket {
    display: none;
    width: 10px;
    height: 10px;
}

#pause-icon {
    display: none;
    width: 10px;
    height: 10px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    min-width: fit-content;
    width: 500px;
    display: flex;
    justify-content: center;
    padding: 25px;
    color: navy;
    background-color: rgb(253, 245, 230, .5);
    border-radius: 15px;
    margin-bottom: 25px;
}

.close-button {
    font-size: 24px;
}

.close-button:hover {
    cursor: pointer;
}

.controls {
    z-index: 2;
    min-width: 200px;
    min-height: 400px;
    width: 50vw;
    height: 50vh;
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(97, 97, 216);
    color: white;
    padding: 15px;
}

.controls-message {
    margin-top: 15px;
    font-size: 24px;
}

.basket-img-info {
    position: relative;
    bottom: 150px;
    left: 200px;
}

ul {
    font-size: 20px;
}
li {
    font-size: 16px;
    padding: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.start-button {
    z-index: 1;
    margin-right: 25px;
    padding: 16px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 5px;
}
.pause-button {
    z-index: 1;
    background-color: blue;
    padding: 16px;
    color: white;
    border: 0;
    border-radius: 5px;
}
.reset-button {
    z-index: 1;
    margin-left: 25px;
    background-color: red;
    padding: 16px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.info-button {
    z-index: 1;
    margin-left: 25px;
    background-color: grey;
    color: white;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 50%;
}

.start-button:hover {
    margin-right: 25px;
    padding: 16px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.pause-button:hover {
    background-color: darkblue;
    padding: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.reset-button:hover {
    margin-left: 25px;
    background-color: darkred;
    padding: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.info-button:hover {
    margin-left: 25px;
    background-color: dimgrey;
    color: white;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.score {
    float: left;
    width: 33%;
}

#butterfly {
    display: none;
    width: 5vw;
    height: 5vh;
    position: absolute;
    right: 5%;
}

#butterfly2 {
    display: none;
    width: 4vw;
    height: 4vh;
    position: absolute;
    left: 5%;
    top: 40%;
}
#butterfly3 {
    display: none;
    width: 3vw;
    height: 3vh;
    position: absolute;
    right: 30%;
    top: 60%;
}
#butterfly4 {
    display: none;
    width: 6vw;
    height: 6vh;
    position: absolute;
    left: 85%;
    top: 10%;
}
#butterfly5 {
    display: none;
    width: 5vw;
    height: 5vh;
    position: absolute;
    right: 5%;
    top: 70%;
}

#bird {
    display: none;
    height: 17.5vw;
    width: 20vh;
    position: absolute;
    top: 5%;
}

#squirrel {
    display: none;
    height: 8vh;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.arrow-buttons {
    display: flex;
    justify-content: center;
}

.left-arrow-button {
    margin-top: 20px;
    margin-right: 25px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

.left-arrow-button:hover {
    margin-top: 20px;
    margin-right: 25px;
    background-color: darkgrey;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

.right-arrow-button {
    margin-top: 20px;
    margin-left: 25px;
    background-color: grey;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

.right-arrow-button:hover {
    margin-top: 20px;
    margin-left: 25px;
    background-color: darkgrey;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

#left-arrow {
    width: 80px;
    height: 40px;
}

#right-arrow {
    width: 80px;
    height: 40px;
}

#oneUp {
    display: none;
    width: 10px;
    height: 10px;
}

#slowFruit {
    display: none;
    width: 10px;
    height: 10px;
}

#dashPlayer {
    display: none;
    width: 10px;
    height: 10px;
}